<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New varaosa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;  
  width: 50%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;  
}

table tbody tr:nth-child(even){background-color: #f2f2f2;}

table tbody tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: red;
}

.poista{
	color: red;
	text-decoration: underline;
	cursor: pointer;	
}</style>
<body>
	<h1>Insert new varaosa information</h1>
	<div>
	<form action="#" th:object="${uusiOsa}" th:action="@{saveOsa}" method="post">
		  	<div>
		  	<label>Nimi</label>
			<input type="text" th:field="*{name}" />
			</div>
			<div>
		  	<label>hinta</label>
		  	<input type="number" th:field="*{price}" />
			</div>
			<div>
		  	<label>paino</label>
			<input type="number" th:field="*{weight}" />
			</div>
			<div>
		  	<label>vuosi</label>
			<input type="number" th:field="*{year}" />
			</div>
			<br>
			<label>Auto</label>
			 <select id="autot" th:field="*{auto}">
       			<option th:each="auto: ${autot}" th:value="${auto.Name}" th:text="${auto.Merkki}"></option>
    		</select>						
			<input type="submit" value="Save"></input>
		</form>
		
		
	
	</div>

 	
</body>
</html>